node_modules
.npm
.yarn
.pnp.js
.pnp.loader.mjs
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.eslintcache
.stylelintcache
.babel.js
.babelrc.js
.babelrc
babel.config.js
babel.config.cjs
babel.config.mjs
babel.config.json
.next/
.nuxt/
.nuxt.js
.nuxtignore
nuxt.config.js
nuxt.config.ts
nuxt.config.mjs
nuxt.config.cjs
nuxt.config.js.map
nuxt.config.ts.map
nuxt.config.mjs.map
nuxt.config.cjs.map
.idea